In [1]:
import os, subprocess
import json
import uproot
import awkward as ak
import numpy as np
from coffea import processor, util, hist
import pandas as pd
import pickle

In [2]:
with open('lumi.json') as f:
    lumis = json.load(f)

with open('xsec.json') as f:
  xs = json.load(f)

with open('pmap.json') as f:
  pmap = json.load(f)

In [3]:
year = '2016APV'
infiles = subprocess.getoutput("ls infiles/"+year+"*.json").split()
coffeadir_prefix = 'outfiles-plots/'
outsum = processor.dict_accumulator()

In [4]:
repickle = True
# Check if pickle exists, don't recreate it if it does
picklename = year+'/cutflow.pkl'
#if os.path.isfile(picklename):
#    repickle = False

In [5]:
if repickle:

    for this_file in infiles:
    
        print(this_file)
        index = this_file.split("_")[1].split(".json")[0]
        filename = coffeadir_prefix+year+"_dask_"+index+".coffea"
        
        with open(this_file, 'r') as openfile:
            samples = json.load(openfile)

        print(filename)
        if os.path.isfile(filename):
            out = util.load(filename)

            if len(outsum.keys()) == 0:
                outsum['cutflow'] = out['cutflow']
                outsum['sumw'] = out['sumw']
            else:
                outsum['cutflow'].add(out['cutflow'])
                outsum['sumw'].add(out['sumw'])
                
            del out
        else:
            print('Missing file '+index,index)
            #print("File " + filename + " is missing")  
            
    scale_lumi = {k: xs[k] * 1000 *lumis[year] / w for k, w in outsum['sumw'].items()}
    outsum['cutflow'].scale(scale_lumi, 'dataset')
    cutflow = outsum['cutflow'].group('dataset', hist.Cat('process', 'Process'), pmap)
    
    del outsum
    
    outfile = open(picklename, 'wb')
    pickle.dump(cutflow, outfile, protocol=-1)
    outfile.close()

infiles/2016APV_DYJetsToLL.json
outfiles-plots/2016APV_dask_DYJetsToLL.coffea
infiles/2016APV_Diboson.json
outfiles-plots/2016APV_dask_Diboson.coffea
infiles/2016APV_EWKV.json
outfiles-plots/2016APV_dask_EWKV.coffea
infiles/2016APV_GluGluHToBB.json
outfiles-plots/2016APV_dask_GluGluHToBB.coffea
infiles/2016APV_JetHTData.json
outfiles-plots/2016APV_dask_JetHTData.coffea
infiles/2016APV_QCD.json
outfiles-plots/2016APV_dask_QCD.coffea
infiles/2016APV_SingleMuData.json
outfiles-plots/2016APV_dask_SingleMuData.coffea
infiles/2016APV_SingleTop.json
outfiles-plots/2016APV_dask_SingleTop.coffea
infiles/2016APV_TTbar.json
outfiles-plots/2016APV_dask_TTbar.coffea
infiles/2016APV_VBFHToBB.json
outfiles-plots/2016APV_dask_VBFHToBB.coffea
infiles/2016APV_WHToBB.json
outfiles-plots/2016APV_dask_WHToBB.coffea
infiles/2016APV_WJetsToLNu.json
outfiles-plots/2016APV_dask_WJetsToLNu.coffea
infiles/2016APV_WJetsToQQ.json
outfiles-plots/2016APV_dask_WJetsToQQ.coffea
infiles/2016APV_ZHToBB.json
outfiles-plots/2016APV_dask_ZHToBB.coffea
infiles/2016APV_ZJetsToQQ.json
outfiles-plots/2016APV_dask_ZJetsToQQ.coffea
infiles/2016APV_ttHToBB.json
outfiles-plots/2016APV_dask_ttHToBB.coffea

/opt/conda/lib/python3.8/site-packages/coffea/hist/hist_tools.py:376: RuntimeWarning: Not all requested indices present in <Cat (name=dataset) instance at 0x7f254d556820>
  warnings.warn(

In [6]:
# Read the histogram from the pickle file
templates = pickle.load(open(picklename,'rb'))

In [7]:
cutflow = templates.sum('genflavor').integrate('region',['signal-ggf'])
cutflow

In [8]:
cutflow.values()

{('QCD',): array([3.31196184e+08, 3.31196184e+08, 3.31196184e+08, 3.30544312e+08,
        8.40276158e+06, 8.40276158e+06, 2.24300537e+06, 1.82050958e+06,
        1.80362035e+06, 1.73864508e+06, 1.66276213e+06, 4.46845434e+03,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('ttbar',): array([7.42613247e+06, 7.42613247e+06, 7.42613247e+06, 7.41939342e+06,
        7.31832287e+04, 7.31832287e+04, 2.61892809e+04, 1.09600044e+04,
        8.60020089e+03, 5.51384856e+03, 5.35519742e+03, 5.12038488e+01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('singlet',): array([1.95929255e+06, 1.95929255e+06, 1.95929255e+06, 1.95788353e+06,
        8.56030010e+03, 8.56030010e+03, 3.56697466e+03, 1.62811562e+03,
        1.30472855e+03, 9.48910145e+02, 9.05554361e+02, 1.07555791e+01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('Wjets',): array([3.36421200e+07, 3.36421200e+07, 3.36421200e+07, 3.36148378e+07,
        1.52713372e+05, 1.52713372e+05, 6.12478633e+04, 4.85774101e+04,
        4.59060675e+04, 4.24566026e+04, 4.14301476e+04, 1.40150552e+02,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('Zjets',): array([2.84127313e+06, 2.84127313e+06, 2.84127313e+06, 2.83581992e+06,
        6.74881263e+04, 6.74881263e+04, 3.00049266e+04, 2.31021157e+04,
        2.26725943e+04, 1.73318986e+04, 1.69151798e+04, 6.36274002e+02,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('ZjetsHT',): array([1.10880637e+06, 1.10880637e+06, 1.10880637e+06, 1.10626357e+06,
        5.97274386e+04, 5.97274386e+04, 2.38311035e+04, 1.83129548e+04,
        1.80607602e+04, 1.71006055e+04, 1.66917813e+04, 6.34962154e+02,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('VV',): array([9.72090146e+05, 9.72090146e+05, 9.72090146e+05, 9.71404211e+05,
        2.41653724e+03, 2.41653724e+03, 1.36193897e+03, 1.05391706e+03,
        8.01024619e+02, 6.16018206e+02, 5.99216638e+02, 1.15798046e+01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('EWKZ',): array([1.43850546e+05, 1.43850546e+05, 1.43850546e+05, 1.43648516e+05,
        1.58458157e+03, 1.58458157e+03, 8.44014742e+02, 6.34845142e+02,
        6.14657359e+02, 4.36738279e+02, 3.74061133e+02, 1.64521588e+01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('EWKW',): array([1.06253532e+06, 1.06253532e+06, 1.06253532e+06, 1.06141311e+06,
        9.79310963e+03, 9.79310963e+03, 5.26924928e+03, 3.25802012e+03,
        1.92384596e+03, 1.54260161e+03, 1.30992599e+03, 1.30539763e+01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('ggF',): array([1504.10201937, 1504.10201937, 1504.10201937, 1501.39761945,
         143.38516048,  143.38516048,   74.03697724,   51.76172208,
          50.09937721,   48.33374242,   45.82629025,   11.96419785,
           0.        ,    0.        ,    0.        ]),
 ('VBFDipoleRecoilOff',): array([5.74846856e+03, 5.74846856e+03, 5.74846856e+03, 5.74335161e+03,
        6.95179516e+01, 6.95179516e+01, 3.90088505e+01, 2.87080490e+01,
        2.75687005e+01, 2.64757032e+01, 1.64486011e+01, 4.79152130e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('VBF',): array([6.40983978e+03, 6.40983978e+03, 6.40983978e+03, 6.40453290e+03,
        6.47841674e+01, 6.47841674e+01, 3.72750497e+01, 2.81398207e+01,
        2.69334349e+01, 2.58644768e+01, 1.59552475e+01, 4.79746360e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('WH',): array([5.60995544e+03, 5.60995544e+03, 5.60995544e+03, 5.60622510e+03,
        5.38690037e+01, 5.38690037e+01, 2.77089520e+01, 1.75395664e+01,
        1.23041728e+01, 1.05772689e+01, 1.04131713e+01, 2.44773371e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('ZH',): array([2.33272952e+03, 2.33272952e+03, 2.33272952e+03, 2.33042993e+03,
        3.98545498e+01, 3.98545498e+01, 2.06653792e+01, 1.10034708e+01,
        8.06359925e+00, 6.84787608e+00, 6.72314417e+00, 1.50703218e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('ttH',): array([3.40961947e+03, 3.40961947e+03, 3.40961947e+03, 3.40510625e+03,
        1.51854575e+02, 1.51854575e+02, 5.41044926e+01, 1.40999781e+01,
        1.08598047e+01, 6.74254361e+00, 6.56742774e+00, 5.81000077e-01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('data',): array([2.1575429e+08, 9.8611669e+07, 9.8611669e+07, 9.8438470e+07,
        8.7771850e+06, 8.7771850e+06, 2.1425590e+06, 1.6149910e+06,
        1.5807860e+06, 1.4955690e+06, 1.4422870e+06, 4.0230000e+03,
        0.0000000e+00, 0.0000000e+00, 0.0000000e+00]),
 ('muondata',): array([2.1913398e+07, 2.1553600e+06, 2.1553600e+06, 2.1470560e+06,
        2.3315400e+05, 2.3315400e+05, 6.5685000e+04, 4.0555000e+04,
        3.6314000e+04, 2.9866000e+04, 2.8651000e+04, 4.0800000e+02,
        0.0000000e+00, 0.0000000e+00, 0.0000000e+00])}

In [9]:
df1 = pd.DataFrame([])

df1['ggF'] = cutflow.values()[('ggF',)]
df1['VBF'] = cutflow.values()[('VBF',)]
df1['WH'] = cutflow.values()[('WH',)]
df1['ZH'] = cutflow.values()[('ZH',)]
df1['ttH'] = cutflow.values()[('ttH',)]


df1
df1 = df1[:-3].astype('int')
df1
df1.index = ['nothing','trigger','lumimask','metfilter','minjetkin','jetid','n2ddt','antiak4btagMediumOppHem','met','noleptons','notvbf','ddbpass']
df1

                          ggF   VBF    WH    ZH   ttH
nothing                  1504  6409  5609  2332  3409
trigger                  1504  6409  5609  2332  3409
lumimask                 1504  6409  5609  2332  3409
metfilter                1501  6404  5606  2330  3405
minjetkin                 143    64    53    39   151
jetid                     143    64    53    39   151
n2ddt                      74    37    27    20    54
antiak4btagMediumOppHem    51    28    17    11    14
met                        50    26    12     8    10
noleptons                  48    25    10     6     6
notvbf                     45    15    10     6     6
ddbpass                    11     4     2     1     0

In [10]:
df1 = df1[4:-2]
df1.index = ['Jet kinematics','Jet ID','Jet $N_2^\text{DDT}$','Opp. hem. b veto','MET $<$ 140 GeV','No leptons']
df1.to_latex(buf=year+'/cutflow-sig.tex')
df1

/tmp/ipykernel_29197/2958735745.py:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df1.to_latex(buf=year+'/cutflow-sig.tex')

                      ggF  VBF  WH  ZH  ttH
Jet kinematics        143   64  53  39  151
Jet ID                143   64  53  39  151
Jet $N_2^\text{DDT}$   74   37  27  20   54
Opp. hem. b veto       51   28  17  11   14
MET $<$ 140 GeV        50   26  12   8   10
No leptons             48   25  10   6    6

In [11]:
df2 = pd.DataFrame([])

df2['QCD'] = cutflow.values()[('QCD',)]
df2['Wjets'] = cutflow.values()[('Wjets',)]
df2['Zjets'] = cutflow.values()[('Zjets',)]
df2['EWKW'] = cutflow.values()[('EWKW',)]
df2['EWKZ'] = cutflow.values()[('EWKZ',)]
df2['VV'] = cutflow.values()[('VV',)]
df2['ttbar'] = cutflow.values()[('ttbar',)]
df2['singlet'] = cutflow.values()[('singlet',)]

df2 = df2[:-3].astype('int')
df2.index = ['nothing','trigger','lumimask','metfilter','minjetkin','jetid','n2ddt','antiak4btagMediumOppHem','met','noleptons','notvbf','ddbpass']
df2

,QCD,Wjets,Zjets,EWKW,EWKZ,VV,ttbar,singlet
nothing,331196183,33642120,2841273,1062535,143850,972090,7426132,1959292
trigger,331196183,33642120,2841273,1062535,143850,972090,7426132,1959292
lumimask,331196183,33642120,2841273,1062535,143850,972090,7426132,1959292
metfilter,330544312,33614837,2835819,1061413,143648,971404,7419393,1957883
minjetkin,8402761,152713,67488,9793,1584,2416,73183,8560
jetid,8402761,152713,67488,9793,1584,2416,73183,8560
n2ddt,2243005,61247,30004,5269,844,1361,26189,3566
antiak4btagMediumOppHem,1820509,48577,23102,3258,634,1053,10960,1628
met,1803620,45906,22672,1923,614,801,8600,1304
noleptons,1738645,42456,17331,1542,436,616,5513,948
notvbf,1662762,41430,16915,1309,374,599,5355,905
ddbpass,4468,140,636,13,16,11,51,10

In [12]:
df2 = df2[4:-2]
df2.index = ['Jet kinematics','Jet ID','Jet $N_2^\text{DDT}$','Opp. hem. b veto','MET $<$ 140 GeV','No leptons']
df2.to_latex(buf=year+'/cutflow-bkg.tex')
df2

/tmp/ipykernel_29197/2909133722.py:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df2.to_latex(buf=year+'/cutflow-bkg.tex')

                          QCD   Wjets  Zjets  EWKW  EWKZ    VV  ttbar  singlet
Jet kinematics        8402761  152713  67488  9793  1584  2416  73183     8560
Jet ID                8402761  152713  67488  9793  1584  2416  73183     8560
Jet $N_2^\text{DDT}$  2243005   61247  30004  5269   844  1361  26189     3566
Opp. hem. b veto      1820509   48577  23102  3258   634  1053  10960     1628
MET $<$ 140 GeV       1803620   45906  22672  1923   614   801   8600     1304
No leptons            1738645   42456  17331  1542   436   616   5513      948